.contact{
    max-width: 100%;
    height: 800px;
    background-image: url('/images/bg7.gif');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 10%;

    >h2,p{
        font-size: 75px;
        color: $primary-color;
    }
    >p{
        font-size: 30px;
        padding-bottom: 60px;
    }
    #search-box{
        height: 60px;
    }
    &-form{
       
       >input{
           height: 60px;
           width: 600px;
           border-radius: 50px ;
       }
       >a{
          
          position: absolute;
          margin-left: -100px;
          margin-top: -4px;
       }
    }
}
@media only screen and (max-width: 1000px){
    .contact{
        >h2{
            font-size: 60px;
        }
        >p{
            font-size: 20px;
        }
        &-form{
            >input{
                height: 60px;
                width: 400px;
                border-radius: 50px ;
            }
            >a{
               padding: 25px;
               position: absolute;
               margin-left: -100px;
               margin-top: -4px;
            }
         }
    }
}

@media only screen and (max-width: 541px){
    .contact{
        h2{
            font-size: 40px;
        }
        p{
            font-size: 16px;
        }
        a{
         
            font-size: 10px;
        }
        input{
            font-size: 10px;
            height: 36px ;
            width: 70vw;
        }
        a{
            padding: 10px;
            margin-top: 5px;
            margin-left:-40px;

        }
    }
}