
.popular-menu{
    max-width: 100%;
    height: 800px;
    background-image: url('./images/background2.gif');
    background-size: cover;
    color: white;
    >h2{
        padding-top: 90px;
        padding-bottom: 20px;
        font-size: 64px;
        text-align: center;

    }
    >p{
        margin: 0 auto;
        max-width: 50%;
        font-size: 25px;
        text-align: center;
        padding-bottom: 70px;
    }
    
    &-list{
        display: flex;
        justify-content: space-between;
        text-align: center;
        padding-left: 15%;
        padding-right: 15%;
    }
    &-item{
        display: flex;
        flex-direction: column;
        gap: 0 30px;
        >h4{
            font-size: 28px;
        }
        >p{
            font-size: 17px;
        }
    }
    &-item>img{
        margin: 0 auto;
        width: 256px;
        height: 256px;
        border-radius: 256px;
        padding-bottom: 10px;
    }
}

@media only screen and (max-width: 1000px){
    .popular-menu{
        >h2{
            font-size: 54px;
        }
        >p{
            font-size: 20px;
        }
        &-item{
            >h4{
                font-size: 20px;
            }
            >p{
                font-size: 12px;
            }
        }
        &-item>img{
            width: 150px;
            height: 160px;
            border-radius: 160px;
        }
    }
}

@media only screen and (max-width: 541px){
    .popular-menu{
        h2{
            font-size: 40px;
        }
        p{
            font-size: 16px;
        }
        &-item{
            img{
                width: 80px;
                height: 90px;
            }
            h4{
                font-size: 16px;
            }
            p{
                font-size: 10px;
            }
        }
    }
    
}